// http://sassdoc.com/annotations/#parameter for annotations.
// http://sassdoc.com/ for comment systems with mixins using Sass Doc.

$bp-small: 384px;            // 384   24em
$bp-small-2: 500px;       // 500   31.25em
$bp-small-3: 636px;        // 636   39.8em
$bp-med: 748px;            // 748   46.8em
$bp-med-2: 800px;            // 800   50em
$bp-large: 872px;          // 872   54.5em
$bp-large-2: 1200px;          // 1200  75em
$bp-xl: 1440px;               // 1440  90em 
$bp-xl-2: 1980px;         // 1980  123.75em
$bp-xl-3: 2560px;            // 2560  160em
$bp-xl-4: 3840px;            // 2560  160em

