/*Main Site colors*/
/*Font colors*/
/*Span bg colors */
.nav_wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 12;
  margin-top: 1rem;
}
@media (min-width: 2560px) {
  .nav_wrapper {
    margin-top: 1.5rem;
  }
}
.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 87%;
  background-color: #5EC1D3;
  border-radius: 8px;
  box-shadow: 0px 8px #2483B2;
}
@media (min-width: 1980px) {
  .nav_menu {
    box-shadow: 0px 12px #2483B2;
  }
}
@media (min-width: 2560px) {
  .nav_menu {
    box-shadow: 0px 12px #2483B2;
    border-radius: 12px;
    width: 80%;
  }
}
.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 12;
  width: 100%;
  right: 0.5rem;
  top: 0.5rem;
}
.nav_stage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 25%;
  height: 100%;
  color: white;
}
.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0.75rem;
}
@media (min-width: 1200px) {
  .nav_list {
    padding: 1.15rem;
  }
}
@media (min-width: 1440px) {
  .nav_list {
    padding: 1.25rem;
  }
}
@media (min-width: 2560px) {
  .nav_list {
    padding: 1.75rem;
  }
}
.nav_list_first {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
.nav_list_first > a {
  text-align: center;
}
.nav_list_mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  max-width: 300px;
  position: relative;
}
.nav_list_mid_wrapper {
  position: absolute;
}
.nav_list_mid_wrapper:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
@media (min-width: 1200px) {
  .nav_list_mid_wrapper > img {
    max-width: 225px;
  }
}
@media (min-width: 1440px) {
  .nav_list_mid_wrapper > img {
    max-width: 240px;
  }
}
@media (min-width: 2560px) {
  .nav_list_mid_wrapper > img {
    max-width: 280px;
  }
}
.nav_list_last {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
.nav_list_item {
  font-size: 0.75rem;
  font-family: Safety Goggles;
  color: #085D84 !important;
}
@media (min-width: 748px) {
  .nav_list_item {
    font-size: 1rem;
  }
}
@media (min-width: 800px) {
  .nav_list_item {
    font-size: 1.2rem;
  }
}
@media (min-width: 872px) {
  .nav_list_item {
    font-size: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .nav_list_item {
    font-size: 2rem;
  }
}
@media (min-width: 1980px) {
  .nav_list_item {
    font-size: 2.15rem;
  }
}
@media (min-width: 2560px) {
  .nav_list_item {
    font-size: 2.45rem;
  }
}
@media (min-width: 3840px) {
  .nav_list_item {
    font-size: 3rem;
  }
}
.nav_list_item_white {
  color: #fff !important;
}
.nav_list_menu {
  font-size: 0.75rem;
  font-family: Safety Goggles;
  color: #085D84 !important;
  min-width: 33%;
  flex: 1;
}
@media (min-width: 748px) {
  .nav_list_menu {
    font-size: 1rem;
  }
}
@media (min-width: 800px) {
  .nav_list_menu {
    font-size: 1.2rem;
  }
}
@media (min-width: 872px) {
  .nav_list_menu {
    font-size: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .nav_list_menu {
    font-size: 2rem;
  }
}
@media (min-width: 1980px) {
  .nav_list_menu {
    font-size: 2.15rem;
  }
}
@media (min-width: 2560px) {
  .nav_list_menu {
    font-size: 2.45rem;
  }
}
@media (min-width: 3840px) {
  .nav_list_menu {
    font-size: 3rem;
  }
}
.nav_list_menu_white {
  color: #fff !important;
}
.nav_list_menu:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
.nav_list_menu > div {
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
}
@media (min-width: 1200px) {
  .nav_list_menu > div {
    height: 3rem;
    line-height: 3rem;
  }
}
@media (min-width: 1440px) {
  .nav_list_menu > div {
    height: 3.5rem;
    line-height: 3.5rem;
  }
}
.nav_list_menu > div:hover > ul {
  /*display: block;*/
  transform: scale(1);
}
.nav_list_menu > div:hover > ul > li {
  /*display: block;*/
  transform: scale(1);
}
.nav_list_menu_sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}
@media (min-width: 872px) {
  .nav_list_menu_sub {
    padding-top: 2.5rem;
  }
}
@media (min-width: 1440px) {
  .nav_list_menu_sub {
    padding-top: 3rem;
  }
}
@media (min-width: 2560px) {
  .nav_list_menu_sub {
    padding-top: 3.5rem;
  }
}
.nav_list_menu_sub > li {
  background-color: #A5EBE3;
  border-radius: 8px;
  box-shadow: 0px 8px #5EC1D3;
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
  padding: 0rem 0.5rem;
  min-width: 125px;
  font-size: 0.7rem;
  line-height: 1.5rem;
  font-family: Safety Goggles;
  color: #2484B2 !important;
}
@media (min-width: 748px) {
  .nav_list_menu_sub > li {
    font-size: 0.85rem;
  }
}
@media (min-width: 800px) {
  .nav_list_menu_sub > li {
    font-size: 1rem;
    min-width: 150px;
  }
}
@media (min-width: 872px) {
  .nav_list_menu_sub > li {
    padding: 0.15rem 0.75rem;
    font-size: 1.15rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 1200px) {
  .nav_list_menu_sub > li {
    min-width: 175px;
    font-size: 1.35rem;
    line-height: 2.65rem;
  }
}
@media (min-width: 1440px) {
  .nav_list_menu_sub > li {
    padding: 0.15rem 1.15rem;
    min-width: 190px;
    max-width: 200px;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
@media (min-width: 1980px) {
  .nav_list_menu_sub > li {
    font-size: 1.6rem;
  }
}
@media (min-width: 2560px) {
  .nav_list_menu_sub > li {
    padding: 0.75rem 1.5rem;
    min-width: 225px;
    line-height: 3.5rem;
  }
}
@media (min-width: 3840px) {
  .nav_list_menu_sub > li {
    font-size: 2.25rem;
    line-height: 4rem;
  }
}
.nav_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 36%;
}
.nav_button > div:nth-child(1) {
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  .nav_button {
    flex: 1;
  }
}
.nav_button_pink {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #FFFFFF;
  width: min(50%, 120px);
}
.nav_button_pink > div {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  height: 90%;
}
.nav_button_pink > div > span {
  width: 100%;
  font-size: 2.75vh;
  font-family: Safety Goggles;
  font-weight: 400;
  text-align: center;
  line-height: 1.05rem;
}
@media (min-width: 384px) {
  .nav_button_pink > div > span {
    font-size: 1rem;
  }
}
@media (min-width: 500px) {
  .nav_button_pink > div > span {
    font-size: 1.15rem;
  }
}
@media (min-width: 636px) {
  .nav_button_pink > div > span {
    font-size: 0.8rem;
    line-height: 1.35rem;
  }
}
@media (min-width: 748px) {
  .nav_button_pink > div > span {
    font-size: 0.95rem;
  }
}
@media (min-width: 1440px) {
  .nav_button_pink > div > span {
    font-size: 2rem;
  }
}
@media (min-width: 2560px) {
  .nav_button_pink > div > span {
    font-size: 2.25rem;
  }
}
@media (min-width: 3840px) {
  .nav_button_pink > div > span {
    font-size: 3rem;
  }
}
.nav_button_pink > div > img {
  margin-left: 0.3rem;
  max-height: 50%;
  width: auto !important;
}
@media (min-width: 636px) {
  .nav_button_pink > div > img {
    max-height: 75%;
  }
}
@media (min-width: 800px) {
  .nav_button_pink > div > img {
    max-height: 75%;
  }
}
@media (min-width: 1200px) {
  .nav_button_pink > div > img {
    max-height: 75%;
  }
}
.nav_button_pink > div > img:nth-child(2) {
  margin-left: 0.25rem;
}
.nav_button_pink:disabled {
  cursor: not-allowed !important;
  color: #A2B7B6;
}
.nav_button_pink:disabled:hover {
  color: #A2B7B6;
}
.nav_button_pink:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
@media (min-width: 748px) {
  .nav_button_pink {
    width: 155px;
    max-width: 155px;
  }
}
@media (min-width: 1200px) {
  .nav_button_pink {
    width: 180px;
    max-width: 180px;
  }
}
@media (min-width: 1440px) {
  .nav_button_pink {
    width: 250px;
    max-width: 250px;
  }
}
@media (min-width: 1980px) {
  .nav_button_pink {
    width: 250px;
    max-width: 250px;
  }
}
@media (min-width: 2560px) {
  .nav_button_pink {
    width: 300px;
  }
}
.nav_button_pink:hover {
  color: #CE3C85;
}
.nav_button_pink:disabled {
  cursor: not-allowed !important;
  color: #A2B7B6 !important;
}
.nav_button_pink:disabled:hover {
  color: #A2B7B6 !important;
}
.nav_mobile_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 12;
  width: 100%;
  background: #5EC1D3;
  box-shadow: 0px 4px #2483B2;
  height: 8%;
}
.nav_mobile_bar_logo {
  width: 33%;
}
.nav_mobile_bar_hamburger {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  right: 0.5rem;
  height: 100%;
}
.nav_mobile_bar_hamburger_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav_mobile_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #4383ae;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 13;
}
.nav_mobile_container {
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.75rem;
}
.nav_mobile_close {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 0.75rem;
  height: auto;
  font-size: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
}
.nav_mobile_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.nav_mobile_content_logo {
  width: 60%;
}
.nav_mobile_content_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav_mobile_content_list_item {
  font-size: 2.25rem;
  margin-bottom: 1%;
  font-family: Safety Goggles;
  color: #fff !important;
}
@media (min-width: 500px) {
  .nav_mobile_content_list_item {
    font-size: 2.25rem;
  }
}
@media (min-width: 636px) {
  .nav_mobile_content_list_item {
    font-size: 3.25rem;
  }
}
.nav_mobile_content_list_button {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #FFFFFF;
}
.nav_mobile_content_list_button > div {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  height: 90%;
}
.nav_mobile_content_list_button > div > span {
  width: 100%;
  font-size: 1.2rem;
  font-family: Safety Goggles;
  font-weight: 400;
  text-align: center;
  line-height: 1.05rem;
}
@media (min-width: 384px) {
  .nav_mobile_content_list_button > div > span {
    font-size: 1.75rem;
  }
}
@media (min-width: 500px) {
  .nav_mobile_content_list_button > div > span {
    font-size: 1.75rem;
  }
}
@media (min-width: 636px) {
  .nav_mobile_content_list_button > div > span {
    font-size: 1.25rem;
    line-height: 1.35rem;
  }
}
@media (min-width: 800px) {
  .nav_mobile_content_list_button > div > span {
    font-size: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .nav_mobile_content_list_button > div > span {
    font-size: 2rem;
  }
}
@media (min-width: 1980px) {
  .nav_mobile_content_list_button > div > span {
    font-size: 2.25rem;
  }
}
@media (min-width: 2560px) {
  .nav_mobile_content_list_button > div > span {
    font-size: 2.75rem;
  }
}
.nav_mobile_content_list_button > div > img {
  margin-left: 0.3rem;
  max-height: 50%;
  width: auto !important;
}
@media (min-width: 636px) {
  .nav_mobile_content_list_button > div > img {
    max-height: 70%;
  }
}
@media (min-width: 800px) {
  .nav_mobile_content_list_button > div > img {
    max-height: 70%;
  }
}
@media (min-width: 1200px) {
  .nav_mobile_content_list_button > div > img {
    max-height: 70%;
  }
}
.nav_mobile_content_list_button > div > img:nth-child(2) {
  margin-left: 0.25rem;
}
.nav_mobile_content_list_button:disabled {
  cursor: not-allowed !important;
  color: #A2B7B6;
}
.nav_mobile_content_list_button:disabled:hover {
  color: #A2B7B6;
}
.nav_mobile_content_list_button:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
.nav_mobile_content_list_button:hover {
  color: #CE3C85;
}
.nav_mobile_content_list_teal {
  color: #A5EBE3 !important;
}
.nav_mobile_content_footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  gap: 1rem;
}
.nav_mobile_content_footer_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_mobile_content_footer_button_balance {
  color: white;
  font-family: PFRondaSeven;
  font-size: 1rem;
  flex: 45%;
}
@media (min-width: 500px) {
  .nav_mobile_content_footer_button_balance {
    font-size: 1.25rem;
  }
}
.nav_mobile_content_footer_button_pink {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #FFFFFF;
}
.nav_mobile_content_footer_button_pink > div {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  height: 90%;
}
.nav_mobile_content_footer_button_pink > div > span {
  width: 100%;
  font-size: 2.75vh;
  font-family: Safety Goggles;
  font-weight: 400;
  text-align: center;
  line-height: 1.05rem;
}
@media (min-width: 384px) {
  .nav_mobile_content_footer_button_pink > div > span {
    font-size: 1rem;
  }
}
@media (min-width: 500px) {
  .nav_mobile_content_footer_button_pink > div > span {
    font-size: 1.15rem;
  }
}
@media (min-width: 636px) {
  .nav_mobile_content_footer_button_pink > div > span {
    font-size: 0.8rem;
    line-height: 1.35rem;
  }
}
@media (min-width: 748px) {
  .nav_mobile_content_footer_button_pink > div > span {
    font-size: 0.95rem;
  }
}
@media (min-width: 1440px) {
  .nav_mobile_content_footer_button_pink > div > span {
    font-size: 2rem;
  }
}
@media (min-width: 2560px) {
  .nav_mobile_content_footer_button_pink > div > span {
    font-size: 2.25rem;
  }
}
@media (min-width: 3840px) {
  .nav_mobile_content_footer_button_pink > div > span {
    font-size: 3rem;
  }
}
.nav_mobile_content_footer_button_pink > div > img {
  margin-left: 0.3rem;
  max-height: 50%;
  width: auto !important;
}
@media (min-width: 636px) {
  .nav_mobile_content_footer_button_pink > div > img {
    max-height: 75%;
  }
}
@media (min-width: 800px) {
  .nav_mobile_content_footer_button_pink > div > img {
    max-height: 75%;
  }
}
@media (min-width: 1200px) {
  .nav_mobile_content_footer_button_pink > div > img {
    max-height: 75%;
  }
}
.nav_mobile_content_footer_button_pink > div > img:nth-child(2) {
  margin-left: 0.25rem;
}
.nav_mobile_content_footer_button_pink:disabled {
  cursor: not-allowed !important;
  color: #A2B7B6;
}
.nav_mobile_content_footer_button_pink:disabled:hover {
  color: #A2B7B6;
}
.nav_mobile_content_footer_button_pink:hover {
  color: #CE3C85;
}
.nav_mobile_content_footer_button_pink:disabled {
  cursor: not-allowed !important;
  color: #A2B7B6 !important;
}
.nav_mobile_content_footer_button_pink:disabled:hover {
  color: #A2B7B6 !important;
}
.nav_mobile_content_footer_socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.nav_mobile_content_footer_socials_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  position: relative;
}
.nav_mobile_content_footer_socials_icon > img:nth-child(1) {
  margin-top: 4.5%;
  margin-left: 4.75%;
  width: 91%;
}/*# sourceMappingURL=index.module.css.map */